<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="questionsDatabase" value="Data\questions.dbo"/>

    <add key="titleFontSize" value="28"/>
    <!--<add key="overrideTitle" value="Vil du bli IT direktør?"/>-->

    <!--<add key="overrideBackgroundImage" value="C:\Users\tormar\Pictures\test3.jpg"/>-->
    
    <!--<add key="overrideResultLine1" value="Du er en"/>

    <add key="overrideZeroCorrectLine1" value="Er du sikker på at"/>
    <add key="overrideZeroCorrectLine2" value="IT-bransjen er noe"/>
    <add key="overrideZeroCorrectLine3" value="for deg?"/>-->

    <add key="overrideLevelLabels" value="false"/>
    <add key="overrideLevel1" value="Junior nettverksassistent"/>
    <add key="overrideLevel2" value="Nettverksassistent"/>
    <add key="overrideLevel3" value="Supportmedarbeider 1.linje"/>
    <add key="overrideLevel4" value="Supportmedarbeider 2.linje"/>
    <add key="overrideLevel5" value="Programmerer"/>
    <add key="overrideLevel6" value="Junior Systemkonsulent"/>
    <add key="overrideLevel7" value="Systemkonsulent"/>
    <add key="overrideLevel8" value="Senior Systemkonsulent"/>
    <add key="overrideLevel9" value="Sjefskonsulent"/>
    <add key="overrideLevel10" value="Avdelingsleder IT"/>
    <add key="overrideLevel11" value="Nettverkssjef"/>
    <add key="overrideLevel12" value="Utviklingssjef"/>
    <add key="overrideLevel13" value="IT Sjef"/>
    <add key="overrideLevel14" value="Visedirektør IT"/>
    <add key="overrideLevel15" value="IT Direktør"/>
  </appSettings>
</configuration>